@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 3px;
    }

    .dark ::-webkit-scrollbar-thumb {
        background: #27272a;
    }
}